<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <!-- name值可以是包名或具体的类名：该包（包括子包）下的类或该类将采用此logger -->
    <logger name="com.lujiaguan.testJava" level="INFO">
        <appender-ref ref="STDOUT" />
    </logger>

    <!-- root的默认level是DEBUG -->
    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>